.header-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    height: 80px;
}

.tittle{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.autor{
    position: absolute;
    right: 0;
    top:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    opacity: 0.5;
}
.active{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 10px;
}
.close{
    display: none;
}
.sideBar{
    top:80px;
    height: calc(100vh - 80px);
    min-height: 900px;
    position: absolute;
    left: -250px;
    width: 250px;
    background-color: #333;
    transition: left 0.3s ease;
}
.sideBar.show{
    left: 0;
}
@media only screen and (max-width:700px){
    .tittle{
        font-size:1.6em;
    }
    .active{
        height: 30px;
        width: 30px;
    }
    .show{
        width: 200px;
    }
}