<div class="layout-container">
  <div class="calendar-container">
    <div class="MMYYYY-container">
      <div class="month">{{months[mesActual].name}}</div>
      <div class="year">2023</div>
    </div>
    <div class="days">
        <div class="domingo">Domingo</div>
        <div class="lunes">Lunes</div>
        <div class="martes">Martes</div>
        <div class="miercoles">Miercoles</div>
        <div class="jueves">Jueves</div>
        <div class="viernes">Viernes</div>
        <div class="sabado">Sabado</div>
    </div>
    <div class="dates">
      <ng-container *ngFor="let date of dates; let i = index">
        <app-date [ngStyle]="dia(i + 1)" [date]="date"></app-date>
      </ng-container> 
  </div>
  <aside class="notes-container"><app-notes></app-notes></aside>
</div>
