<div class="layout-container">
  <div class="calendar-container">
    <div class="MMYYYY-container">
      <div class="month">{{months[mesActual].name}}</div>
      <div class="year">2023</div>
    </div>
    <div class="days">
        <div class="domingo">Domingo</div>
        <div class="lunes">Lunes</div>
        <div class="martes">Martes</div>
        <div class="miercoles">Miercoles</div>
        <div class="jueves">Jueves</div>
        <div class="viernes">Viernes</div>
        <div class="sabado">Sabado</div>
    </div>
    <div class="dates">
      <div [ngStyle]="dia(1)" class="dates-container day1">
        <div class="date">1</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(2)" class="dates-container day2">
        <div class="date">2</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(3)" class="dates-container day3">
        <div class="date">3</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(4)" class="dates-container day4">
        <div class="date">4</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(5)" class="dates-container day5">
        <div class="date">5</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(6)" class="dates-container day6">
        <div class="date">6</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(7)" class="dates-container day7">
        <div class="date">7</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(8)" class="dates-container day8">
        <div class="date">8</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(9)" class="dates-container day9">
        <div class="date">9</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(10)" class="dates-container day10">
        <div class="date">10</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(11)" class="dates-container day11">
        <div class="date">11</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(12)" class="dates-container day12">
        <div class="date">12</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(13)" class="dates-container day13">
        <div class="date">13</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(14)" class="dates-container day14">
        <div class="date">14</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(15)" class="dates-container day15">
        <div class="date">15</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(16)" class="dates-container day16">
        <div class="date">16</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(17)" class="dates-container day17">
        <div class="date">17</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(18)" class="dates-container day18">
        <div class="date">18</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(19)" class="dates-container day19">
        <div class="date">19</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(20)" class="dates-container day20">
        <div class="date">20</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(21)" class="dates-container day21">
        <div class="date">21</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(22)" class="dates-container day22">
        <div class="date">22</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(23)" class="dates-container day23">
        <div class="date">23</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(24)"  class="dates-container day24">
        <div class="date">24</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(25)" class="dates-container day25">
        <div class="date">25</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(26)" class="dates-container day26">
        <div class="date">26</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(27)" class="dates-container day27">
        <div class="date">27</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(28)" class="dates-container day28">
        <div class="date">28</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(29)" class="dates-container day29">
        <div class="date">29</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(30)" class="dates-container day30">
        <div class="date">30</div>
        <div class="activities"></div>
      </div>
      <div [ngStyle]="dia(31)" class="dates-container day31">
        <div class="date">31</div>
        <div class="activities"></div>
      </div>
    </div>
  </div>
  <aside class="notes-container"><app-notes></app-notes></aside>
</div>
